/* style.css */
body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Left menu bar styling */
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(0);
    transition: transform 0.3s ease;
    a:link, a:visited, a:hover, a:active, a:focus {
        color: white;
        font-size: 18px;
    }
    
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.hover-slide{
  li{
    position: relative;
    overflow: hidden;
  }
  
  a{
    display: block;
    position: relative;
    z-index: 1;
    transition: .35s ease color;
    
    &:before{
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      left: -100%; top: 0;
      width: 100%; height: 100%;
      border-right: solid 5px #2c3e50;
      background: gray;
      transition: .35s ease left;
    }
    
    &.is-current,
    &:hover{
      
      &:before{
        left: 0;
      }
    }
  }
}


main {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: calc(100% - 300px);
    box-sizing: border-box;
    margin-right: 20px;
}

main.collapsed {
    margin-left: 20px;
}

/* Toggle buttons */
.toggle-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

.home-btn {
    bottom: 60px;
    position: fixed;
    left: 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

/* Authorize buttons container */
.auth {
    position: fixed;
    top: 20px;
    right: 20px;
}


.auth .auth-button img {
    width: 30px;
    height: 30px;
}


/* Submit button */
.submit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #218838;
}